@model StudentTestsWeb.Models.MainModels.ResultsModel
@{
    ViewData["Title"] = "Результаты теста";
}

<h4>Результаты тестирования: @Model.Test.Abbr "@Model.Test.Topic"</h4>
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">Cтудент</th>
            <th scope="col">Группа</th>
            <th scope="col">Баллы</th>
            <th scope="col">Оценка</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var res in Model.Results) {
            <tr class="res-el">
                @{ var student = @Model.Students.First(s => s.StudentId == res.StudentId);}
                <td>@student.FirstName @student.LastName</td>
                <td>@student.Group</td>
                <td>@res.Score</td>
                <td>@((int)(res.Score * Model.Test.MaxMark / Model.Test.MaxScore))</td>
            </tr>
        }
    </tbody>
</table>

