@model IEnumerable<StudentTestsWeb.Models.Entities.Teacher>
@{
    ViewData["Title"] = "TeachersList";
}

<div class="d-flex justify-content-between">
    <div>
        <h2>Список преподавателей</h2>
    </div>
    <div>
        <div class="input-group input-group-sm mb-3">
            <br />
            <input type="text" class="form-control" id="searchInput" placeholder="Поиск..." aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary fas fa-search" type="button" id="searchBtn"></button>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-between">
    <div>
    </div>
    <div class="col-sm-5">
        <div class="text-right">
            <a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseExample">
                Параметры поиска, фильтрации
            </a>
        </div>
        <div class="offset-4">
            <div class="collapse bordered" id="collapseFilters">
                <div>
                    <label>Поиск по:</label>  <br />
                    <input type="radio" name="searchType" id="searchRadio1" checked />
                    <label for="searchRadio1">ФИО</label>    <br />

                    <input type="radio" name="searchType" id="searchRadio2" />
                    <label for="searchRadio2">кафедре</label><br />

                    <input type="radio" name="searchType" id="searchRadio3" />
                    <label for="searchRadio3">должности</label><br /><br />

                    <input type="checkbox" id="onlyHasTest" />
                    <label for="onlyHasTest">Только те, у кого есть тесты</label><br />

                    <input type="checkbox" id="onlyMail" />
                    <label for="onlyMail">Поиск только по домену nure.ua</label>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
@{ if (Model.Count() == 0) {
        <span class="text-muted">В базе нет ни одного преподавателя</span>
    }
    else {
        <span class="text-muted" id="noSearchResults" hidden>Поиск не дал результатов</span>
        <span id="tablePlace" hidden></span>
        <table class="table table-hover" id="teachersTable">
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col"><span>ФИО&emsp;</span></th>
                    <th scope="col"><span>Кафедра&emsp;</span></th>
                </tr>
            </thead>
            <tbody>
                @{ int i = 1;
                    foreach (var teacher in Model) {
                        <tr class="teacher-el" id="@teacher.TeacherId">
                            <th scope="row">@i</th>
                            @{i++;}
                            <td>@teacher.LastName @teacher.FirstName @teacher.FatherName</td>
                            <td>@teacher.Department</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
}


